<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/res/style.css" rel="stylesheet">
  </head>
  <body>
    <ul>
    <% if (!root) {-%>
      <li><a href="../index.html">Back</a></li>
    <% } %>
    <% items.forEach(function (item) { -%>
      <li><a href="<%= item.name %>/index.html"><%= item.name %></a></li>
    <% }) -%>
    </ul>
  </body>
</html>
